[submodule "lib/tiny"]
	path = lib/tiny
	url = https://github.com/ryanplusplus/tiny
[submodule "tools"]
	path = tools
	url = https://github.com/ryanplusplus/avr-gcc-tools
[submodule "lib/tiny_cpp"]
	path = lib/tiny_cpp
	url = https://github.com/ryanplusplus/tiny.cpp
